<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Resultados de Inlinks</title>
</head>
<body>

<h1>Resultados de Inlinks</h1>

<div>
    <h2>URL pesquisada:</h2>
    <p th:text="${link}"></p>
</div>

<div>
    <h2>Inlinks encontrados:</h2>
    <ul>
        <li th:each="in : ${inlinks}" th:text="${in}"></li>
    </ul>
</div>

<div>
    <p th:if="${mensagem}" th:text="${mensagem}"></p>
</div>

<form th:action="@{/menu}" method="GET">
    <button>Voltar ao Menu</button>
</form>

</body>
</html>
